<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>test</title>
        <script src="node_modules/jquery/dist/jquery.js" type="application/javascript"></script>
        <script src="node_modules/stompjs/lib/stomp.js" type="application/javascript"></script>
        <script type="application/javascript">
            $(function() {
                var ws = new WebSocket('ws://' + location.host + location.pathname + 'sample');
                console.log(ws);
                var client = Stomp.over(ws);
                console.log(client);
                client.connect({}, function(frame) {
                    console.log(frame);
                    client.subscribe("/topic/test", function(message) {
                        console.log(message);
                        console.log("message.body", message.body)
                        $('body').empty().append(message.body);
                    });
                });
            });
        </script>        
    </head>
    <body>
    </body>
</html>